<!DOCTYPE html>
<html lang="s">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
    <h1>Bienvenidos!</h1>
        <li><a href="/babbage">Babbage</li>
        <li><a href="/berners-lee">Bernes-Lee</li>
        <li><a href="/clarke">Clarke</li>
        <li><a href="/hamilton">Hamilton</li>
        <li><a href="/hopper">Hopper</li>
        <li><a href="/lovelace">Ada Lovelace</li>
        <li><a href="/turing">Turing</li>
</body>
</html>